html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    height: 100vh; /* Mengatur tinggi kontainer agar sesuai dengan viewport */
}

.row {
    height: 100%; /* Pastikan baris memanfaatkan penuh tinggi kontainer */
}

.col-2, .col-10 {
    height: 100%; /* Pastikan kolom juga memanfaatkan penuh tinggi kontainer */
}